.pdexam-header {
    padding-bottom: 10px;
    padding-top: 5px;
    height: 13vh;
}

.pdexam-title {
    background-color: rgb(154, 217, 234);
    font-weight: bold;
    border: 1px solid #222;
    font-size: 18px;
}

.pdexam-body {
    height: 75vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    overflow-y: auto;
}


.countdown-container {
    width: 70px; 
    height: 70px; 
    display: flex; 
    margin: 0 auto; 
    border-radius: 50%; 
    background-color: rgb(122,122,122);
    justify-content: center;
    flex-direction: column; 
    color: #fff
}

.countdown-text {
    text-align: center;
    font-size: 35px;
}



@media screen and (max-width: 500px) {
    .pdexam-body {
      height: 70vh;
    }
    .countdown-container {
        width: 45px; height: 45px;
    }
    .countdown-text {
        font-size: 30px;
    }
  }
